@using NativeCode.Core.Extensions
@model ServicesWeb.Models.ApplicationInfo

<div id="debug-panel" class="panel panel-info hidden">
    <div class="panel-heading">
        <h3 class="panel-title">Debug Information</h3>
    </div>
    <div class="panel-body">
        <div id="debug-info" class="collapsed in">
            <!-- Assemblies -->
            <div class="panel panel-default">
                <div class="panel-body debug-section">
                    @Html.LabelFor(x => x.Assemblies)
                    <a href="#assemblies" data-toggle="collapse" data-target="#assemblies" aria-expanded="false" aria-controls="assemblies">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>
                    <ul id="assemblies" class="assemblies collapse panel-group" role="tablist" aria-multiselectable="true">
                        @foreach (var assembly in Model.Assemblies)
                        {
                            var idname = "assembly-" + assembly.Name.Replace(string.Empty, ".", "-").ToLower();

                            <li class="assembly clearfix">
                                <a href="#@idname-panel" data-toggle="collapse" data-parent="#assemblies" data-target="#@idname" aria-expanded="false" aria-controls="@idname-panel">
                                    <span>@assembly.Name</span>
                                </a>
                                <div id="@idname-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@idname-heading">
                                    <ul id="@idname" class="assembly-attributes collapse">
                                        @foreach (var attribute in assembly.Attributes)
                                        {
                                            <li class="assembly-attribute">@attribute</li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <!-- Current Username -->
            <div class="panel panel-default">
                <div class="panel-body debug-section">
                    @Html.LabelFor(x => x.CurrentUsername)
                    @Html.DisplayFor(x => x.CurrentUsername)
                </div>
            </div>

            <!-- Current User Roles -->
            <div class="panel panel-default">
                <div class="panel-body debug-section">
                    @Html.LabelFor(x => x.CurrentUserRoles)
                    @string.Join(", ", this.Model.CurrentUserRoles)
                </div>
            </div>

            <!-- Default Connection String -->
            <div class="panel panel-default">
                <div class="panel-body debug-section">
                    @Html.LabelFor(x => x.DefaultConnectionString)
                    @Html.DisplayFor(x => x.DefaultConnectionString)
                </div>
            </div>

            <!-- Version -->
            <div class="panel panel-default">
                <div class="panel-body debug-section">
                    @Html.LabelFor(x => x.Version)
                    @Html.DisplayFor(x => x.Version)
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var $panel = $("#debug-panel");
        var docHeight = $(window).height();
        var footerHeight = $panel.height();
        var footerTop = $panel.position().top + footerHeight;

        if (footerTop < docHeight) {
            $panel.css("margin-top", 10 + (docHeight - footerTop) + "px");
        }
    });
</script>