@using System.Web.Optimization
@using Common.Models.Models
<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/styles")
</head>

<body>
    <div id="wrapper">
        @Html.Partial("AdminBar")
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            @if (Startup.IsDebug && User != null && User.Identity.IsAuthenticated)
            {
                @Html.Partial("DebugPanel", new ApplicationInfo())
            }
        </div>
    </div>
</body>

</html>
