@using Common
@using NativeCode.Core.Extensions
@model ServicesWeb.Areas.Admin.Models.DatabaseUpgradeModel

@{
    ViewBag.Title = "Database Upgrade";
}

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Database Upgrade Status</h3>
        </div>
        <div class="panel-body">
            @if (Database.UpgradeRequired)
            {
                using (Html.BeginForm("UpgradeDatabase", "Database"))
                {
                    @Html.AntiForgeryToken()

                    <p class="text-danger">
                        A database upgrade is available. Make sure you have a database backup before
                        proceeding with the upgrade.
                    </p>

                    if (this.User.IsInRole("Application Admins"))
                    {
                        <p class="text-info">
                            @this.ViewBag.Token
                        </p>
                    }

                    <div class="form-group">
                        @Html.EditorFor(x => x.VerificationToken, new { htmlAttributes = new { @class = "form-control", Placeholder = "Verification token" } })
                        @Html.ValidationMessageFor(x => x.VerificationToken)
                    </div>

                    if (string.IsNullOrWhiteSpace(this.Model.UpgradeErrorMessage).Not())
                    {
                        <div class="text-danger">
                            @this.Model.UpgradeErrorMessage
                        </div>
                    }

                    <button type="submit" class="btn btn-danger">Upgrade</button>
                }
            }
            else
            {
                <p class="text-info">
                    No database schema operations pending.
                </p>
            }
        </div>
    </div>
</div>
