@using System.Web.Optimization
@using Common.Models.Models
@using ServicesWeb
<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/styles")
</head>

<body>
    <div id="content" class="container-fluid navigable">
        <header class="header">
            @Html.Partial("NavigationBar")
        </header>
        @RenderBody()
    </div>
    @if (Startup.IsDebug && this.User != null && this.User.Identity.IsAuthenticated)
    {
        @Html.Partial("DebugPanel", new ApplicationInfo())
    }
</body>

</html>
