@using System.Web.Optimization
@using ServicesWeb
@using ServicesWeb.Models
<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap/scripts")

    @Styles.Render("~/bundles/bootstrap/styles")
    @Styles.Render("~/bundles/site/styles")
</head>

<body>
    <div id="content" class="container-fluid">
        @RenderBody()
    </div>
    @if (Startup.IsDebug && this.User != null && this.User.Identity.IsAuthenticated)
    {
        @Html.Partial("DebugInfo", new ApplicationInfo())
    }
</body>

</html>
