@model Common.DataServices.DownloadStats

@{
    ViewBag.Title = "Profile";
}

<div>
    <div>
        <span>Claimed</span>
        <span>@this.Model.Claimed</span>
    </div>
    <div>
        <span>Completed</span>
        <span>@this.Model.Completed</span>
    </div>
    <div>
        <span>Downloading</span>
        <span>@this.Model.Downloading</span>
    </div>
    <div>
        <span>Failed</span>
        <span>@this.Model.Failed</span>
    </div>
    <div>
        <span>Queued</span>
        <span>@this.Model.Queued</span>
    </div>
    <div>
        <span>Retrying</span>
        <span>@this.Model.Retrying</span>
    </div>
</div>
